<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a href="" class="navbar-brand">
            Social App
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="navbar-nav">
                    <a href="" class="nav-link active">Home</a>
                </li>
                <li class="navbar-nav">
                    <a href="" class="nav-link">Users</a>
                </li>
                <li class="navbar-nav">
                    <a href="" class="nav-link">Messages</a>
                </li>
            </ul>
            <ul *ngIf="loggedIn()" class="navbar-nav ml-auto">
                <li class="navbar-nav">
                    <a href="" class="nav-link">Username</a>
                </li>
                <li class="navbar-nav">
                    <a (click)="logout()" class="nav-link">Logout</a>
                </li>
            </ul>

            <form *ngIf="!loggedIn()" #form="ngForm" class="d-flex" (ngSubmit)="login()">
                <input #username="ngModel" class="form-control form-control-sm me-2" required minlength="5" type="text" name="username" placeholder="Username" [(ngModel)]="model.username">
                <input #password="ngModel" class="form-control form-control-sm me-2" required minlength="6" type="password" name="password" placeholder="Password" [(ngModel)]="model.password">
                <button [disabled]="form.invalid" class="btn btn-success btn-sm" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>